.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 90%;
    margin: 3rem auto;
    margin-bottom: 0rem;
    text-align: center;
    border-top: .1rem solid #e4e4e4;

    a{
        text-decoration: none;
        color: inherit;
        transition: all .5s;

        &:hover{
            color: white;
            transform: translateY(-3px);
        }
    }

    .footer_box{

        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;

        h2{
            font-weight: bolder;
        }
    
        p{
            display: block;
            color: black;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 18px;
            background: rgba(76, 175, 80, .6);
            border-radius: 100rem;
            padding: 0.5rem 1.75rem;
            margin: 0 auto;
        }

        .logo{
            width: 6rem;
            margin: 1rem 0;
        }
    }

    .footer_logos{
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 1rem auto;

        img{
            width: 25px;
            height: 25px;
            margin: 0 .5rem;
        }
    }
}