.header{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    
    position: relative;
   
    
}

.header_nav{
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid rgba(white, 0.3);
    z-index: 1;
    background: linear-gradient(45deg, rgba(38, 44, 65, .2) 0%, rgba(70, 80, 122, .2) 100%);
    position: relative;

    .logo{
        height: 3rem;
        position: absolute;
        top: 23%;
        left: 10%;
        z-index: 1;
    }

    nav{ 
        position: absolute;
        top: 36%;
        right: 10%;
        z-index: 1;
    }
    
    .nav-list{
        display:flex;
        list-style-type: none;
        margin: 0;
    }
    
    .nav-item {
        color: #ddd7d7;
        font-size: 20px;
        margin-right: 1.3rem;
        text-decoration: none;
        border: none;
        background-color: #4CAF50;
        border-radius: 10px;
        padding: .8rem 2rem;
        transition: all 0.5s;
    
        &:hover{
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(rgb(71, 177, 75), 0.2);
        }
    
    }
}


.header_text{
    position: absolute;
    display: block;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;

    &_main{
        font-size: 3rem;
        z-index: 1;
        text-align: center;
    }

    &_second{
        font-size: 1rem;
        display: block;
        z-index: 1;
        text-transform: uppercase;
        margin-top: 1.5rem;
        padding-top: 2rem;
        border-top: 1px solid rgba(white, 0.3);
        text-align: center;
        color: rgb(168, 184, 225);
    }
    

}

@media (max-width: 600px){

    .header_text{
        
        &_main{
            font-size: 2rem;
        }
    
    }


}

